body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(11,29,44);
    color: rgb(255,255,255);
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

nav {
    background-color: #444;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 88px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.contact-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.contact-links a:hover {
  text-decoration: underline;
}