{% extends 'header.html' %}

{% block title %}SEAD AI{% endblock %}

{% block header %}SEAD AI{% endblock %}

{% block content %}

<div style="text-align: center;">
    <h1>Envie um documento para análise</h1>
    <p>Formatos aceitos: .pdf, .docx</p>
    <form id="uploadForm" enctype="multipart/form-data">
        <label for="fileInput">Selecione um arquivo:</label><br>
        <input type="file" id="fileInput" name="file" required accept=".pdf, .docx" style="padding: 10px; border: 2px solid #008CBA; border-radius: 5px;"><br><br>
        <button type="submit" style="background-color: #008CBA; color: white; padding: 15px 20px 10px; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease;">Enviar e Analizar</button>
    </form><br>
    <div id="fileResponseArea"></div>
    <button id="explainButton" style="display:none; background-color: #4CAF50; color: white; padding: 15px 20px 10px; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease;" onclick="requestExplanation()">Obter Explicação</button>
    <div id="explanationArea" style="margin-top: 20px;"></div>
</div>

<script>
    document.getElementById('uploadForm').onsubmit = async function(event) {
        event.preventDefault();
        const formData = new FormData();
        formData.append('file', document.getElementById('fileInput').files[0]);
        document.getElementById('fileResponseArea').innerHTML = '<p>Enviando e analisando o documento...</p>';
       
        const response = await fetch('/upload', {
            method: 'POST',
            body: formData
        });
        const data = await response.json();
        if (data.category) {
            document.getElementById('fileResponseArea').innerText = 'Categoria: ' + data.category;
            document.getElementById('explainButton').style.display = 'inline-block'; // Show the explain button
        } else {
            document.getElementById('fileResponseArea').innerText = 'Error: ' + (data.error ? data.error : 'Erro ao processar arquivo.');
        }
    };

    async function requestExplanation() {
        const categoryText = document.getElementById('fileResponseArea').innerText.split('Categoria: ')[1];
        const response = await fetch('/explain', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({text: categoryText})
        });
        const data = await response.json();
        document.getElementById('explanationArea').innerText = 'Explicação: ' + data.explanation;
    }
</script>

{% endblock %}