{% extends 'header.html' %}

{% block title %}SEAD AI{% endblock %}

{% block header %}SEAD AI{% endblock %}

{% block content %}

<div id="titulo" style="text-align: center;">
    <h1>
        <span style="color: RGB(255, 204, 0);">SEAD AI:</span> Protótipo para alinhamento de projetos SEAD ao planejamento estratégico
    </h1>
    </br>
    <h3>Esta aplicação tem por objetivo auxiliar na classificação dos projetos contidos no portfólio SEAD, promovendo seu alinhamento ao Plano Estratégico 2023-26, por meio do uso e treinamento de IA Generativa (LLM) e da documentação disponível dos TAPs, Plano Plurianual, Ebook do Plano Estratégico SEAD e a literatura sobre a metodologia orientada por Objetivos e Resultados-Chave - OKRs.</h3>      
</div>
</br></br></br></br>
<div style="display: flex; align-items: center; justify-content: center;">
    <img src="{{ url_for('static', filename='robo.png') }}" alt="Análise de Documentos" style="margin-right: 40px; width: auto; height: 300px;">
    <div style="text-align: center;">
        <h1>Envie um documento para Revisão</h1>
        <p>Formatos aceitos: .pdf, .docx</p>       
        <div id="fileResponseArea" style="margin-bottom: 20px; font-size: 22px;"></div>      
    </div>
</div>



{% endblock %}
