{% extends 'header.html' %}

{% block title %}SEAD AI{% endblock %}

{% block header %}SEAD AI{% endblock %}

{% block content %}

<div id="titulo" style="text-align: center;">
    <h1>
        <span style="color: RGB(255, 204, 0);">SEAD AI:</span> Ranking de pontuação de TAPs
    </h1>
    </br>    
</div>
</br></br></br>
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    {% if documents %}
    <table class="table table-bordered" style="color: white;"> 
        <thead>
            <tr>
                <th>Documento</th>
                <th>Pontuação</th>
            </tr>
        </thead>
        <tbody>
            {% for doc in documents %}
            <tr>
                <td>{{ doc.document }}</td>
                <td>{{ doc.score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="margin-top: 20px;">
        <a href="{{ url_for('download_rankings') }}" class="btn btn-primary" style="padding: 10px 20px;">Baixar tabela em Excel</a>
    </div>
    {% else %}
    <p style="color: white;">Nenhum documento disponível para exibição.</p>
    {% endif %}
</div>
{% endblock %}
